.cta-form {
  padding-top: 20.1rem;
  text-transform: none;
  padding-bottom: 14.3rem;
  position: relative;
  z-index: 2;

  // .glass-surface {
  //   position: absolute !important;
  //   width: 100%;
  //   height: 100%;
  //   top: 0;
  //   left: 0;
  // }

  // .cta-form__container

  &__container {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 68.6rem 1fr;
    column-gap: 9rem;

    @media (max-width: 49em) {
      display: flex;
      flex-direction: column;
      row-gap: 8rem;
    }
  }

  // .cta-form__content

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 4rem;
    color: var(--c-bg);
  }

  // .cta-form__heading

  &__heading {
    @media (max-width: 49em) {
      font-size: 5rem;
    }
    span {
      white-space: nowrap;
    }
  }

  // .cta-form__txt

  &__txt {
    max-width: 45.4rem;
    text-align: justify;
  }

  // .cta-form__contact

  &__contact {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2rem;

    > .cta-form__contact-txt:first-child {
      text-decoration: underline;
      text-decoration-skip-ink: none;
      text-underline-offset: 0.05em;

      @media (any-hover: hover) {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  // .cta-form__contact-txt

  &__contact-txt {
  }

  // .cta-form__contact-group

  &__contact-group {
    display: flex;
    gap: 3.2rem;
  }

  // .cta-form__form

  &__form {
    position: relative;
    border-radius: 1.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 4.5rem 5rem;
    color: white;

    .liquidGlass-tint {
      // background: rgba(255, 255, 255, 0.5);
    }

    .dock {
      border-radius: 21px;
    }

    @media (max-width: 49em) {
      padding: 6rem;
    }
  }

  // .cta-form__fields

  &__fields {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    @media (max-width: 49em) {
      gap: 8rem;
    }
  }

  // .cta-form__group

  &__group {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    @media (max-width: 49em) {
      gap: 4rem;
    }
  }

  // .cta-form__subtitle

  &__subtitle.txt-alt {
    @media (max-width: 49em) {
      font-size: 4rem;
    }
  }

  // .cta-form__fields-group

  &__fields-group {
    gap: 3.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: 49em) {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }

  // .cta-form__field

  &__field {
  }

  // .cta-form__options

  &__options {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

    @media (max-width: 49em) {
      gap: 2.5rem;
    }
  }

  // .cta-form__option

  &__option {
  }

  // .cta-form__range

  &__range {
  }

  // .cta-form__btn

  &__btn.circ-ic {
    position: absolute;
    bottom: -1rem;
    right: -1rem;
    will-change: transform;
    transition: transform 0.3s ease-out;

    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.06);
      }
    }

    @media (max-width: 49em) {
      transform: translate(1.8rem, 0rem);
      flex: 0 0 8rem;
      width: 8rem;
      height: 8rem;
    }
  }

  // .cta-form__lower

  &__lower {
    position: relative;
    z-index: 3;
  }

  // .cta-form__checkbox

  &__checkbox {
  }
}
.field-alt {
  &._has-error {
    .field-alt__input {
      border-color: #ff5353;
    }
  }
  &:has(textarea.field-alt__input) {
    position: relative;
    grid-column: span 2;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 95%;
      border: 1px solid white;
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
      border-right: none;
      pointer-events: none;

      @media (max-width: 49em) {
        width: 92%;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 50%;
      width: 100%;
      border: 1px solid white;
      border-top-right-radius: 1rem;
      pointer-events: none;
      border-top-left-radius: 1rem;
      border-bottom: none;
      border-left: none;

      @media (max-width: 49em) {
        border-top-right-radius: 2rem;
        border-top-left-radius: 2rem;
        height: 64%;
      }
    }
  }
  textarea.field-alt__input {
    height: 9.7rem;
    width: 100%;
    resize: none;
    border: none;

    @media (max-width: 49em) {
      height: 18.7rem;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
  // .field-alt__input

  &__input {
    height: 6rem;
    border-radius: 1rem;
    border: 1px solid white;
    width: 100%;
    font-size: 1.6rem;
    letter-spacing: -0.06em;
    padding: 2.5rem;
    transition: border-color 0.3s ease-out;
    &::placeholder {
      color: white;
    }

    @media (max-width: 49em) {
      border-radius: 2rem;
      height: 10rem;
      font-size: 3.2rem;
    }
  }
}
.option-alt {
  // .option-alt__inner

  &__inner {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2.4rem;
    overflow: hidden;
    height: 4rem;
    border: 1px solid white;
    border-radius: 3.1rem;
    transition: background-color 0.3s ease-out;

    @media (max-width: 49em) {
      height: 7rem;
      padding: 1rem 3.2rem;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: white;
        .option-alt__txt {
          color: black;
        }
      }
    }

    &:has(input:checked) {
      background-color: white;
      .option-alt__txt {
        color: black;
      }
    }
  }

  // .option-alt__input

  &__input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    appearance: none;
  }

  // .option-alt__txt

  &__txt.txt-alt {
    white-space: nowrap;
    transition: color 0.3s ease-out;

    @media (min-width: 49.01em) {
      font-size: 1.6rem;
    }
  }
}

.checkbox-alt {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 1.5rem;

  &:has(input:checked) {
    &::before {
      background-color: white;
    }
  }

  &::before {
    content: "";
    flex: 0 0 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid white;
    transition: background-color 0.3s ease-out;

    @media (max-width: 49em) {
      flex: 0 0 1.8rem;
      width: 1.8rem;
      height: 1.8rem;
    }
  }
  // .checkbox-alt__input

  &__input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    appearance: none;
  }
}

.dotRange {
  color: #111;
  user-select: none;
  margin-bottom: 3rem;
  width: 100%;
}

.dotRange__title {
  font-size: 2rem;
  font-weight: 500;
  margin: 0 0 1.4rem 0;
}

.dotRange__trackWrap {
  position: relative;
}

.dotRange__track {
  height: 2px;
  background: rgba(255, 255, 255, 0.55);
  width: 100%;
}

/* слой с точками */
.dotRange__dots {
  position: absolute;
  inset: 0;
  top: 1.3rem;

  @media (max-width: 49em) {
    top: 1.8rem;
  }
}

/* один пункт = label, чтобы клик работал без JS */
.dotRange__item {
  position: absolute;
  left: var(--x);
  top: 1px;
  transform: translate(-50%, -50%);
  display: grid;
  justify-items: center;
  gap: 1.2rem;
  cursor: pointer;
}

/* radio скрываем, но оставляем доступным */
.dotRange__radio {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

/* точка */
.dotRange__dot {
  width: 1rem;
  height: 1rem;
  border-radius: 99.9rem;
  background: rgb(178, 178, 178);
  transition:
    background 0.3s ease-out,
    width 0.15s ease-out,
    height 0.15s ease-out;
}

/* подпись */
.dotRange__label {
  font-size: 2rem;
  font-weight: 500;
  color: rgb(178, 178, 178);
  white-space: nowrap;
  transition: color 0.3s ease-out;

  @media (max-width: 49em) {
    font-size: 3.2rem;
  }
}

/* активное состояние */
.dotRange__radio:checked + .dotRange__dot {
  background: white;

  width: 2rem;
  height: 2rem;
}

.dotRange__radio:checked ~ .dotRange__label {
  color: white;
}

/* фокус с клавиатуры */
.dotRange__radio:focus-visible + .dotRange__dot {
  outline: 2px solid white;
  outline-offset: 3px;
}
